.app-container{
  display: inline-flex; 
}
input{
  margin-left:50px;
  border-style:ridge; 
}
label{
  margin-left:30px;
  font-weight:bolder;
}
span{
  margin-left:30px;
  font-weight:bolder;
}
.email{
  margin-left:55px;
}
.website{
  margin-left:37px;
}
.image{
  margin-left:12px;
}
.male{
  margin-left: 35px;
  font-weight: 400;
}
.female{
  font-weight: 400;
}
.skills{
  margin-left: 55px;
}
button{
  margin:0px 0px 50px 50px;
  padding:15px 20px 15px 20px;
  background-color: rgb(63, 22, 196);
  border:none;
  border-radius:10px ;
  color:rgb(255, 255, 255);
  font: weight 5px;
}
.form-head{
  text-align: center;
  margin-left: 500px;
  margin-bottom: 68px;
}
h1{
  color:rgb(25, 59, 153)
}
.vl {
  border-left: 6px solid rgb(63, 22, 196);
  height: 400px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 120px;
  border-radius: 10px;

}
body{
  background:linear-gradient(to left-top,white,rgb(140, 140, 232));
}